    
    <div class="content d-flex justify-content-center">
        <!-- <div class="item-page mt-1">
            <span>{{label}} </span>
            <p-slider class="mt-1" [(ngModel)]="rows3" (ngModelChange)="first3 = 0" [style]="{ width: '10rem' }" [min]="10" [max]="120" [step]="30" />
        </div> -->
        <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="paginatorOptions.displayItem" [totalRecords]="paginatorOptions.totalRecords"
            [showFirstLastIcon]="paginatorOptions.showFirstLastIcon" [showCurrentPageReport]="true" currentPageReportTemplate="{first} - {last} of {totalRecords}"></p-paginator>
    </div>
