.content{
   background-color: #fff;
   height: 100%;
   width:250px;
   box-shadow: 0 0 21px #59667a1a;
 .header{
    padding: 10px;
    .logo{
        span{
            color:var(--main-text-color);
            letter-spacing: 8px;
        }
       }
 }


}

.close-menu{
    width:100px;
}

.items-nav{
    height: 100vh;
    position: relative;
    .item{
        cursor: pointer;
        padding: 10px 0;
        margin:0px 5%;
    }
    .btn-link {
        text-decoration: none;
        color: #2B5F60;
        span{
            margin: 0px 10px;
        }
      }
      .btn-link:hover {
       background-color: #E9EFEF;
      }
      .active {
        background-color: #E9EFEF;
       }

   .nav-footer{
    position: absolute;
    bottom: 135px;
    cursor: pointer;
        width:90%;
        margin:0px 5%;
   }    
   hr{
    color: #ada5a5;
   }
}

.w-90{
    width:90%;
}
.item-close{
    width: 50%;
    margin: 0px 25%;
    padding: 5px 10px 10px 10px;
    border-radius: 5px;
    border:1px solid  #b3e2e2

 }