<div class="table-container">
  <div class="content">
    <div class="title-bredcrumb-section">
      <div class="title">
        <h2>FAQs List</h2>
      </div>
      <div class="breadcrumb">
        <app-breadcrump [breadcrumbProps]="bredCrumb"></app-breadcrump>
      </div>
    </div>
    <div class="details-container">
      <div class="actions">
        <a routerLink="/faqs/add"> + Add New Question</a>
        <input (keydown)="filterData()" type="text" pInputText placeholder="Search FAQs" [(ngModel)]="searchValue" class="search-input"/>
      </div>
      <div (click)="openFilter()">
        filter
      </div>
     <div class="table-view">
      <app-table [colsHeader]="columns" [records]="faqsList" [showrecordIndex]="true" [actions]="tableActions"></app-table>
     </div>
     <div class="responsive-accordions">
        <app-table-small-screen [colsHeaderSmallTable]="columnsSmallTable" [records]="faqsList"  [actions]="tableActions">

        </app-table-small-screen>
    </div>
      <!-- <app-paginator [paginatorOptions]="paginatorOptions" [records]="faqsList"
        (onPageChangeValue)="onPageChange($event)"></app-paginator> -->
        <app-pagination (onPageChange)="onPageChange($event)" [totalCount]="totalCount"></app-pagination>

    </div>
  </div>
</div>
<app-drawer [visible]="showFilter" [header]="'Filter FAQS'" (onClose)="onCloseFilter($event)">
  <h1>hello Drawer</h1>
</app-drawer>



