<div class="navbar-container">
  <div class="content">
    <div class="d-flex justify-content-between w-100">
      <div class="search-section">
        <p-autocomplete [placeholder]="'Search Pages'" [(ngModel)]="value" [suggestions]="items"
          (completeMethod)="search($event)" />
      </div>
      <img  class="menu-grid-icon" src="assets/images/menu-navigation-grid.svg" width="20px" alt="menu" (click)="onToggleMenu()">
    </div>

    <div class="option-section">
      <div class="lang-section">
        <p-select [options]="langOptions" [(ngModel)]="selectedLang" (onChange)="onLangChange()" optionLabel="name"
          optionValue="code">
          <ng-template let-lang pTemplate="selectedItem">
            <div class="selected-lang">
              <img src="assets/images/icons/global.svg" [alt]="lang.name.toLowerCase()" width="16px" />
              <div>{{ lang.code }}</div>
            </div>
          </ng-template>
          <ng-template let-lang pTemplate="item">
            <div class="lang">
              <img [src]="lang.icon" [alt]="lang.name.toLowerCase()" width="16px" />
              <div>{{ lang.name }}</div>
            </div>
          </ng-template>
        </p-select>
      </div>
      <div class="notifications-section">
        <span class="pi pi-bell" (click)="op.toggle($event)"></span>
        <p-popover #op>
          <div class="flex flex-col gap-4 w-[25rem]">

          </div>
      </p-popover>
      </div>
      <div class="logout-section">
        <span class="pi pi-sign-out"></span>
      </div>
    </div>
  </div>
</div>
