
    <div class="form">
        <div class="header">
            <span class="">Add FAQS</span>
        </div>
        <form [formGroup]="form" class="w-70" (ngSubmit)="onSubmit()">
             <div class="w-100">
                <app-input-text [readOnly]="tyepMode()==='view'" [disabled]="tyepMode()==='view'" [label]="'Title (en)'" [inputControl]="form.get('enTitle')"></app-input-text>
             </div>
             <div class="w-100">
                <app-input-text [readOnly]="tyepMode()==='view'" [disabled]="tyepMode()==='view'" [label]="'Title (ar)'" [inputControl]="form.get('arTitle')"></app-input-text>
             </div>
             <div class=" mt-2">
                 <label class="block" for="enDescription">Description (en)</label>
                 <div class="w-100">
                    <textarea class="w-100" rows="5"  pTextarea  formControlName="enDescription"[class.disabled-view]="tyepMode()==='view'"></textarea>
                 </div>
             </div>
             <div class=" mt-2">
                 <label  for="arDescription">Description (ar)</label>
                 <div class="w-100">
                 <textarea class="w-100" rows="5"  pTextarea formControlName="arDescription"[class.disabled-view]="tyepMode()==='view'"></textarea>
                 </div>
             </div>
             <div class="actions w-100 mt-5 text-center"*ngIf="tyepMode()!=='view'">
                 <button type="submit" class="btn btn-success w-100" [disabled]="!form.invalid">
                   <span *ngIf="tyepMode()==='add'"> Add FAQS </span>
                   <span *ngIf="tyepMode()==='edit'"> Edit FAQS </span>

                   
                   <span class="pi pi-plus-circle p-3"></span>
                 </button>
               </div>
           </form>
    </div>

