<ng-container *ngFor="let record of filterdRecords">
    <p-card>
        <p-accordion [value]="0">
          <div class="d-flex justify-content-end actions-icon" *ngIf="actions">
            <div *ngFor="let action of actions">
                <div class="" (click)="onAction(action,record,$event)">
                    <span *ngIf="action.name==='view'" class="pi pi-eye "></span>
                    <span *ngIf="action.name==='edit'" class="pi pi-pen-to-square"></span>
                    <span *ngIf="action.name==='delete'" class="pi pi-trash"></span>
                </div>
            </div>
        </div>
          <p-accordion-panel [value]="record">
            <p-accordion-header>
               <div class="d-flex justify-content-between w-100">
                  
                   <div *ngFor="let item of colsHeaderSmallTable">
                       @if(item.showAs=='header'){
                        <span>{{record[item.keyName]}}</span>
                       }
                   </div>
               </div>
            </p-accordion-header>
            <p-accordion-content>
              <div *ngFor="let item of colsHeaderSmallTable">
                @if(item.showAs=='content'){
                  
                  <span>{{record[item.keyName]}}</span>
                }
            </div>
            </p-accordion-content>
          </p-accordion-panel>
        </p-accordion>
      </p-card>
</ng-container>