div.actions-icon{
    margin: 0px 20px;
    span{
      margin:0px 5px;
      cursor: pointer;
    }
    .pi-trash{
      color:#f76262
    }
    .pi-pen-to-square{
      color:#28a745;
    }
    .pi-eye{
      color:#6060e7;
    }
  }