/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import "primeicons/primeicons.css";

:root{
    --main-text-color:redF2F3E;
}
body{
    // background-color: #F5F5F5;
    &[dir='rtl']{
        .side-nav-bar{
            position: absolute;
            left:unset!important;
            right:0;
            top:0!important;
            bottom: 0!important;
        }
       }
}

.bold {
    font-weight: bold;
}
.pointer {
    cursor: pointer;
}


small {
  color: red;
  font-size: 12px;
}
