.card{
    width:250px;
    margin: 5px;
    padding:10px;
    background: #fff;
    border-radius: 10px;
    padding: 10px 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .11);
    .title{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 8px;
    color: gray;
    }
}