.red-border {
  border: 2px solid red !important; /* Adjust the border size and color as needed */
  border-radius: 4px; /* Optional: Add rounded corners */
}


.title {
  span {
    color: red;
    font-size: 15px !important;
  }
}
