<div class="faqs-form-container container-fluid">
  <div class="row">
    <div class="page-details mb-3">
      <div class="title">
        <h2>{{tyepMode()==='add' ? 'Add New' : 'Edit'}} Technical</h2>
      </div>
      <div class="breadcrumb">
        <app-breadcrump [breadcrumbProps]="bredCrumb"></app-breadcrump>
      </div>
    </div>
  </div>
  <div class=" form-container">
    <div class="reactive-form">
      <form [formGroup]="form" class="w-70" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
            <app-input-text [readOnly]="tyepMode()==='view'" [disabled]="tyepMode()==='view'" [label]="'First Name'"
              [control]="form.get('firstName')"></app-input-text>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
            <app-input-text [readOnly]="tyepMode()==='view'" [disabled]="tyepMode()==='view'" [label]="'Last Name'"
              [control]="form.get('lastName')"></app-input-text>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
            <app-input-text [readOnly]="tyepMode()==='view'" [disabled]="tyepMode()==='view'" [label]="'Username'"
              [control]="form.get('username')"></app-input-text>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
            <app-input-text [readOnly]="tyepMode()==='view'" [disabled]="tyepMode()==='view'" [label]="'Email'"
              [control]="form.get('email')"></app-input-text>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
            <app-input-text [readOnly]="tyepMode()==='view'" [disabled]="tyepMode()==='view'" [label]="'Mobile Number'"
              [control]="form.get('mobileNumber')"></app-input-text>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 mt-4"*ngIf="tyepMode()==='add'">
            <app-input-text [readOnly]="tyepMode()==='view'" [disabled]="tyepMode()==='view'" [label]="'Pin Code'"
              [control]="form.get('pinCode')"></app-input-text>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 mt-4" *ngIf="tyepMode()==='add'">
            <app-input-text type="password" 
            (onValueChange)="onPasswordChanged($event)" [showPasswordWeakness]="true"
             [readOnly]="tyepMode()==='view'" [disabled]="tyepMode()==='view'" [label]="'Password'"
              [control]="form.get('password')"></app-input-text>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 mt-4" *ngIf="tyepMode()==='add'">
            <app-input-text type="password" 
            (onValueChange)="onConfirmPasswordChanged($event)"
            [readOnly]="tyepMode()==='view'" [disabled]="tyepMode()==='view'"
              [label]="'Confirm Password'" [control]="form.get('confirmPassword')"></app-input-text>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
            <app-select [placeholder]="form.get('gender')?.value" class="w-100" [list]="gender" [label]="'Gender'"
              [control]="form.get('gender')">
            </app-select>
          </div>
          <div class=" mt-2 col-lg-6 col-md-6 col-sm-12 mt-4">
            <app-date-picker [maxDate]="maxDate" [placeholder]="form.get('endDate')?.value" [label]="'Date of Birth'"
              [control]="form.get('dateOfBirth')"></app-date-picker>
          </div>



          <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
            <app-select [placeholder]="form.get('technicalTypeEnum')?.value" class="w-100" [list]="TechnicalType" [label]="'Technical Type'"
              [control]="form.get('technicalTypeEnum')">
            </app-select>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
            <app-select [placeholder]="form.get('technicalSpecialistId')?.value" class="w-100" [list]="technicalSpecialist" [label]="'Technical Specialist'"
              [control]="form.get('technicalSpecialistId')">
            </app-select>
          </div>






          <div class="col-lg-6 col-md-6 col-sm-12 mt-4 d-flex align-items-center">
            <app-check-box [isToggle]="true" [disabled]="tyepMode()=='view'" [label]="'isActive'"
              [control]="form.get('isActive')"></app-check-box>
          </div>
          <!-- <div class=" mt-2 col-lg-12 col-md-12 col-sm-12 mt-4">
            <app-editor [label]="'Note'" [control]="form.get('notes')"></app-editor>
          </div> -->
          <div class="upload-image-section mt-4 mb-4" *ngIf="!editMode">
            <label class="mb-2">Upload Image</label>
            <app-upload-file formControlName="imgSrc"></app-upload-file>
            <div *ngIf="isRequiredError" class="error-message mt-2">
              Image upload is required.
            </div>
          </div>
          <div class="edit-mode-section mt-2" *ngIf="editMode">
            <label class="mb-2" >Uploaded Image</label>
            <app-edit-mode-image  [editImageProps]="editImageProps"></app-edit-mode-image>
           </div>


          <div class="actions mt-5 text-center">
            <button type="submit" class="submit-btn" [disabled]="!form.valid" *ngIf="tyepMode()!=='view'">
              <span *ngIf="tyepMode()==='add'">Add</span>
              <span *ngIf="tyepMode()==='edit'">Edit</span>
              <!-- <span class="pi pi-plus-circle p-3"></span> -->
            </button>
            <button type="button" class="cancel-btn" (click)="cancel()">
              Cancel
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

<app-dialog [visible]="showConfirmMessage">
  <button class="dialog-close-btn btn btn-default" (click)="showConfirmMessage = false"> Close</button>
  <button class="dialog-close-btn btn btn-danger" (click)="onConfirmMessage()"> Confirm</button>
</app-dialog>
